body{
	background-color: #f5f5f5;
	min-height: 100vh;
	margin: 0px;
}

p{
	margin: 2px;
}

.navigation-bar{
	position: absolute;
	right: 0;
	top: 0;
	font-size: 25px;
	height: 100vh;
}

.navigation-item{
	padding-left: 15px;
	padding-bottom: 15px;
	color: #ED6D1D;
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	text-decoration: unset;
}

.hero-content{
	display:inline-block;
	width:400px;
	height:200px;
	/* position:absolute; */
	/* top: 260; */
	/* left:500; */
	/* right: 130 */
}

.hero-dos{
	display:inline-block;
	margin-left:15%;
	 font-weight: normal;
     font-family: Roboto, sans-serif;  
    }

.hero-dos h1{font-family: Roboto, sans-serif;  
     font-weight: normal;
     font-size: 27px;
	 }

.slogan{
   	padding-top: 10px;
	font-size: 45px;
	font-style: italic;
	margin: 0px;
	margin-left:10%;
}

.roboto{
     font-family: Roboto, sans-serif;  
     font-weight: normal;
     padding-left: 30%;
     font-size: 27px;
}

.roboto-1{
     font-family: Roboto, sans-serif;  
     font-weight: normal;
     padding-left: 0%
}

form{
	width:50%;
	padding:20px;
	border-radius:10px;
	background-color:#ED6D1D;
	position:absolute;
	left:25%;
	top:250px;
}

form label{
	width:200px;
	height:60px;
	font-size:25px;text-align:center;
	font-weight:bold;
	display:inline-block;
}

form input[type="text"],
form input[type="email"]{
	width:300px;
	height:40px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}

/* .grid  */
/* { */
/* font-weight: normal; */
/* font-size: 30px; */
/* margin-left:40%; */
/* } */

.footer{
	position: absolute;
	width: 100%;
	bottom: 0;
	color: #f5f5f5;
	text-align: center;
	background-color: #ED6D1D;
}

.footer-item{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 12px;
	display: inline-flex;
	width: 30%;
}
@font-face {
       font-family: 'Roboto';
       src: url('Roboto-Thin-webfont.eot');
       src: url('Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
            url('Roboto-Thin-webfont.svg#RobotoThin') format('svg');
       font-weight: 100;
       font-style: normal;
}