.container {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1em;
}


body{
	background-color: #f5f5f5;
	min-height: 100vh;
	margin: 0px;
}

.p{
	margin: 2px;
	font-size: 30px;
	
	
}

.navigation-bar{
	position: absolute;
	right: 0;
	top: 0;
	font-size: 25px;
	height: 100vh;
}


.navigation-item{
	padding-left: 15px;
	padding-bottom: 15px;
	color: #ED6D1D;
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	text-decoration: unset;
}

.footer{
	position: absolute;
	width: 100%;
	bottom: 0;
	color: #f5f5f5;
	text-align: center;
	background-color: #ED6D1D;
}

.footer-item {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 12px;
	display: inline-flex;
	width: 30%;

}


/*Textos*/ 

.texto-1 {
	padding-left: 5%;
	padding-top: 4%;
}

.texto-2 {
	padding-left: 49%;
	padding-top: 8%;
}

.texto-3 {
	padding-left: 107%;
	padding-top: 9%;
}


.hero-content{
	padding-left: 30%
}

.slogan{
	padding-top: 90px;
	font-size: 70px;
	font-style: italic;
	margin: 0px;

}

.times{

	font-family: 'Times New Roman', Times, serif;
	font-style: italic;
	color: #ed6d1d;
}

.roboto{

     font-family: Roboto, sans-serif;
}

@font-face {
       font-family: 'Roboto';
       src: url('Roboto-Thin-webfont.eot');
       src: url('Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
            url('Roboto-Thin-webfont.svg#RobotoThin') format('svg');
       font-weight: 200;
       font-style: normal;
}