body{
	background-color: #f5f5f5;
	min-height: 100vh;
	margin: 0px;
}

p{
	margin: 2px;
}


.container{
	width: 100%;
	height: auto;
}

.navigation-bar{
	padding-left: 20px;
	transform: rotate(180deg);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100vh;
}
.navigation-bar a{
	writing-mode: vertical-lr;
	text-decoration: none;
	font-size: 25px;
	color: #ED6D1D;
}
.navigation-bar a:hover{
	color: #000;
}
.navigation-bar ul{
	padding: 80px 0;
}
.navigation-bar li{
	padding-top: 10px;
	list-style: none;
}
.cont-img-b{
	padding-right: 10px;
	margin: 0 0 0 2.5%;
	float: left;
	width: 40%;
	height: auto;
}
.cont-img-b img{
	width: 100%;
	height: 80vh;
	border-radius:20px ;
}
.cont-img-l{
	float: left;
	width: 50%;
	height: 80vh;
}
#img-g1{
	width: 40%;
	height: 40vh;
	border-radius: 10px;
	left: 20px;
}
#img-g2{
	width: 40%;
	height: 40vh;
	border-radius: 10px;
	left: 20px;
}
#img-g3{
	width: 50%;
	height: 40vh;
	border-radius: 10px;
	left: 20px;
}
#img-g4{
	width: 50%;
	height: 40vh;
	border-radius: 10px;
	left: 20px;
}


.footer{
	margin-top:10px ;
	float: left;
	width: 100%;
	color: #f5f5f5;
	text-align: center;
	background-color: #ED6D1D;
	bottom: 0;
}

.footer-item{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 12px;
	display: inline-flex;
	width: 30%;
}

.hero-content{
	padding-left: 30%
}


.roboto{

     font-family: Roboto, sans-serif;
}

@font-face {
       font-family: 'Roboto';
       src: url('Roboto-Thin-webfont.eot');
       src: url('Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
            url('Roboto-Thin-webfont.svg#RobotoThin') format('svg');
       font-weight: 200;
       font-style: normal;
}
