body{
	background-color: #f5f5f5;
	min-height: 100vh;
	margin: 0px;
}

p{
	margin: 2px;
}

.navigation-bar{
	position: absolute;
	right: 0;
	top: 0;
	font-size: 25px;
	height: 100vh;
}

.navigation-item{
	padding-left: 15px;
	padding-bottom: 15px;
	color: #ED6D1D;
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	text-decoration: unset;
}

.footer{
	position: absolute;
	width: 100%;
	bottom: 0;
	color: #f5f5f5;
	text-align: center;
	background-color: #ED6D1D;
}

.footer-item{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 12px;
	display: inline-flex;
	width: 30%;
}

.hero-content{
	position: absolute;
    top: 260px;
	left: 480px;
	right: 130px;
	font-size: 19px;
}

.hero-dos{
	padding-top: 120px;
	padding-left: 120px;
	font-size: 37px;
	font-style: italic;
	font-weight: normal;
	line-height: 77px;
	margin: 0px;
}

.roboto{

     font-family: Roboto, sans-serif;
}

@font-face {
       font-family: 'Roboto';
       src: url('Roboto-Thin-webfont.eot');
       src: url('Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
            url('Roboto-Thin-webfont.svg#RobotoThin') format('svg');
       font-weight: 200;
       font-style: normal;
}