<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="./../css/gallery.css" />
	<link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="./img/favicon.ico" type="image/x-icon">
	<title>Ad lítteram</title>
</head>

<body>

	<div class="container">
		<div>
			<a href="./../index.html">
				<img src="./../img/logo.png">
			</a>
		</div>

		<div class="navigation-bar">
			<ul>
				<li>
					<a href="./blog.html" class="navigation-item">Blog</a>
				</li>
				<li>
					<a href="./datos.html" class="navigation-item">Datos</a>
				</li>
				<li>
					<a href="./gallery.html" class="navigation-item">Galeria</a> 
				</li>
				<li>
					<a href="./what_we_do.html" class="navigation-item">¿Qué hacemos?</a>
				</li>
				<li>
					<a href="./..index.html" class="navigation-item">Inicio</a>
				</li>
				<li>
				
			</ul>
		</div>

		<div class="cont-img-b">
			<img src="./../img/cinco.png" alt="">
		</div>

		<div class="cont-img-l">
			<img src="./../img/cuatro.png" id="img-g1">
			<img src="./../img/dos.png" id="img-g3">
			<img src="./../img/tres.png" id="img-g2">
			<img src="./../img/uno.png" id="img-g4">
		</div>
		
		<div class="footer roboto">
			<div class="footer-item">
				Política de privacidad | Términos de uso
			</div>
			<div class="footer-item">
				<br><br>
	
				<a href="https://www.instagram.com/adrianavilladaa/?hl=es-la" target="_blank"
					style="margin-right: 8px; margin-left: 110px">
					<img src="./../img/insta.png" style="height: 30px">
				</a>
				<a href="https://www.facebook.com/AdrianaVillada03/" target="_blank">
					<img src="./../img/face.png" style="height: 30px">
				</a>
	
				<br><br>
			</div>
			<div class="footer-item">
				© 2020 Ad Lítteram. Todos los derechos reservados
			</div>
		</div>
	</div>


</body>

</html>